.left-message {
  background-color: #f0f0f0;
  align-self: flex-start;
}

.right-message {
  background-color: #eaf7ff;
  align-self: flex-end;
}

.chat-message {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  margin-right: 12px;
}
